
:root{
    --orbit:105px
}

.container {
    display: grid;
    place-items:center;
}

.container > * { 
    grid-row:1;
    grid-column:1;
}

.orbit-circle { 
    position: relative;
    aspect-ratio:1/1;
    border:3px solid #61DAFB;
    border-radius: 50%;
    transform-style: preserve-3D; 
}
.one{
    transform: rotateX(-60deg) rotateY(235deg);
}

.two{
    transform: rotateX(-60deg) rotateY(-235deg);
}

.three {
    transform: rotateX(75deg);
}
.electron { 
    position: absolute;
    top: 45%;
    left: 45%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: #61DAFB;
    
}

.var-x{
    animation: orbit 6s infinite linear;
}

.var-y{
    animation:orbit-two 6s infinite linear;
}

@keyframes orbit{
    0%{
        transform: rotateZ(0deg) translateX(var(--orbit)) rotateZ(-0deg) rotateY(-235deg) rotateX(60deg);
    }
    
    
    100%{
        transform: rotateZ(360deg) translateX(var(--orbit)) rotateZ(-360deg) rotateY(-235deg) rotateX(60deg);
    }
}

@keyframes orbit-two{
    0%{
        transform: rotateZ(0deg) translateX(var(--orbit)) rotateZ(-0deg) rotateY(235deg) rotateX(60deg);
    }
    
    
    100%{
        transform: rotateZ(360deg) translateX(var(--orbit)) rotateZ(-360deg) rotateY(235deg) rotateX(60deg);
    }
}